<div id="side-bar">
	<div class="side-bar-content">
		<p class="project-info" id="<%= @project.id %>" data="<%= @project.master_status %>"><%= @project.name %></p>
		<div class="user-list">
			<% @collaborators.each do |user| %>
			<img src="<%= user.avatar_url %>"></a>
			<% end %>
		</div>
	</div>
</div>

<!-- CONTENTS -->
<div id="content">
	<div id="tasks">
		<div class="task-column" id="todo">
			<div class="column-header">
				<h3>To Do</h3>
			</div>
			<div class="column-body">
				<ul class="task-list"></ul>
				<p id="reveal-task-form">Add User Story</p>
			</div>
		</div>
		<div class="task-column" id="doing">
			<div class="column-header">
				<h3>Doing</h3>
			</div>
			<div class="column-body">
				<ul class="task-list"></ul>
			</div>
		</div>
		<div class="task-column" id="done">
			<div class="column-header">
				<h3>Done</h3>
			</div>
			<div class="column-body">
				<ul class="task-list"></ul>
			</div>
		</div>
		<div class="task-column" id="icebox">
			<div class="column-header">
				<h3>Ice Box</h3>
			</div>
			<div class="column-body">
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="task-input">
	<div id="task-input-inner">
		<div class="task-input-header">
			<h3>Add new user story</h3>
		</div>
		<div class="task-input-content">
			<div class="task-form">
				<p>Branch Name</p>
				<p>tr_<input type="text" id="branch-name"></p>
				<p>User Story</p>
				<p><input type="text" id="user-story"></p>
				<p>Due Date</p>
				<p><input type="date" id="due-date"></p>
				<input type="submit" id="task-input-submit">
			</div>
		</div>
	</div>
</div>

<!-- GITHUB NOTICE UPON PROJECT CREATION -->
<div id="project-notice">
	<div id="project-notice-inner">
		<div class="project-notice-header">
			<h3>You have successfully created a Github Repository!</h3>
		</div>
		<div class="project-notice-content">
			<div class="form-wrap">
			<h2>Create a new repository on the command line</h2>
			<hr>
				<pre>touch README.md</pre>
				<pre>git init</pre>
				<pre>git add README.md</pre>
				<pre>git commit -m "first commit"</pre>
				<pre>git remote add origin git@github.com:<%= "#{@project.author}/#{@project.name}.git" %></pre>
				<pre>git push -u origin master</pre>
				<input type="submit" id="project-notice-submit" value="Okay">
			</div>
		</div>
	</div>
</div>

<!-- BACKBONE TEMPLATES -->
<script type="text/template" id="task-item-template">
	<div class="task-item-box">
		<div class="task-box-header">
			<h3>Branch: <%%= branch_name %></h3>
			<div class="clear"></div>
		</div>
		<div class="task-box-content">
			<p>User Story: <%%= user_story %></p>
			<p><%%= due_date %></p>
			<p><%%= status %></p>
		</div>
		<div class="task-box-footer">
			<ul class="tasks-view-asignees">
				
			</ul>
			
		</div>
	</div>
</script>

<%= javascript_tag do %>
	projectShow();
<% end %>